.footer {
    background-color: var(--secondary-light);
  }
  
  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    padding: 3em 1em;
  }
  
  .footer__content__title {
    text-align: center;
    line-height: 1em;
  }